@font-face {
    font-family: 'Almarai';
    src: url('../fonts/Almarai-Regular.ttf') format("truetype"),
        local('Almarai');
}

html, body{
    direction: rtl;
    text-align: right;
}
body{
    font-family: 'Almarai' , sans-serif;
}

.dropdown-menu .dropdown-item{
    text-align: right;
}